# Adres backendu Flask. Musi zawierać prefix /api/v1.
# Lokalnie backend uruchamiamy na porcie 8080:
REACT_APP_API_URL=http://127.0.0.1:8080/api/v1

# Przy wdrożeniu za reverse proxy można użyć ścieżki względnej:
# REACT_APP_API_URL=/api/v1