FLASK_ENV=development
SECRET_KEY=change-me-flask-secret-32-characters-minimum
JWT_SECRET_KEY=change-me-jwt-secret-32-characters-minimum
DATABASE_URL=postgresql://uaim:uaim_password@db:5432/uaim
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
APP_TIMEZONE=Europe/Warsaw
INIT_DB=true

MAIL_BACKEND=smtp
MAIL_SENDER=minix.pacland@gmail.com
MAIL_SMTP_HOST=smtp.gmail.com
MAIL_SMTP_PORT=587
MAIL_SMTP_USERNAME=minix.pacland@gmail.com
MAIL_SMTP_PASSWORD=zbxsfhjjvbvcqkce
MAIL_SMTP_USE_TLS=true
APP_PUBLIC_URL=http://localhost:3000
MAIL_FROM_NAME=Spokojna Przystań

REMINDER_INTERVAL_SECONDS=30